.hero {
  display: flex;
  overflow: hidden;
  .imageWrapper {
    height: calc(100vh - 95px);
    width: 50vw;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;

    .image {
      height: 100%;
      width: 100%;
      transition: transform 0.4s ease-in-out;
      display: block;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      &:is(a):hover {
        transform: scale(1.1);
      }
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--pink-100);
      color: var(--green-100);
      line-height: 1.3;
      font-size: 28px;
      font-weight: 700;
      height: 200px;
      position: relative;
      pointer-events: none;

      .logo {
        max-width: 350px;
      }

      .socials {
        background-color: var(--white-100);
        width: 64px;
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
        transform: translateY(50%);
        pointer-events: initial;
      }
    }

    .postWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      .post {
        margin-left: 30px;
        position: relative;
        transition: transform 0.4s ease-in-out;

        .postContent {
          padding-left: 25px;
          width: 400px;

          .title {
            font-size: 28px;
            font-weight: 500;
            line-height: 1.3;
            margin-bottom: 20px;
          }

          .description {
            font-size: 16px;
            line-height: 1.3;
            padding-bottom: 15px;
          }
        }

        .tag {
          font-family: Inconsolata, monospace;
          font-size: 14px;
          letter-spacing: 1px;
          position: absolute;
          display: inline-block;
          transform: rotate(-90deg) translate(-100%);
          text-transform: uppercase;
          transform-origin: left;
          top: 0;
        }

        .arrow {
          width: 120px;
          margin-left: 25px;
        }

        &:is(a):hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;

    .imageWrapper {
      width: 100vw;
      height: calc(50vh);
    }

    .content {
      background-color: var(--white-100);
      width: 100%;
      padding: 30px 30px 30px 5px;
      bottom: 30px;

      .header {
        display: none;
      }

      .postWrapper {
        .post {
          .postContent {
            width: 100%;
          }
        }
      }
    }
  }
}
