.cookies {
  display: flex;
  padding: 10px 30px;
  border: 3px solid var(--blue-100);
  background-color: var(--pink-100);
  font-weight: 300;
  width: 100%;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  color: var(--blue-100);
  z-index: 1000;

  .description {
    margin-right: 20px;
    max-width: 60rem;

    .link {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .icon {
    width: 100%;
    max-width: 170px;
    flex-shrink: 0;
    padding: 0.5rem 0;
  }

  .btn {
    margin-left: 30px;
    padding: 8px 32px;
    background-color: var(--violet-100);
    color: var(--pink-100);
    font-size: 16px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    font: inherit;
    transition: opacity 0.2s;

    &:hover,
    &:focus {
      opacity: 0.85;
    }
  }
}

@media (max-width: 992px) {
  .cookies {
    flex-direction: column;
    padding: 60px 30px;

    .description {
      margin-right: 0;
      margin-bottom: 30px;
    }

    .icon {
      max-width: 200px;
    }

    .btn {
      margin-left: 0;
      margin-top: 30px;
    }
  }
}
