.section {
  background-color: var(--white-100);
  position: relative;
  padding-top: 65px;
  padding-bottom: 65px;
  width: 100%;
  font-family: var(--font-inconsolata), cursive;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before,
  &:after {
    content: "„";
    font-size: 120px;
    position: relative;
    color: var(--pink-100);
  }

  &:before {
    bottom: -15px;
    left: 0;
  }

  &:after {
    top: -85px;
    right: 0;
  }

  .text {
    color: var(--black-100);
    background-color: var(--white-100);
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    width: 60%;
    line-height: 1.4;

    .highlighted {
      position: relative;
      display: inline-block;
      z-index: 0;

      &:before {
        content: "";
        position: absolute;
        height: 8px;
        width: calc(100% + 7px);
        bottom: 5px;
        background-color: var(--pink-100);
        z-index: -1;
        margin-left: -4px;
      }
    }
  }
}
