.post {
  position: relative;
  display: inline-block;
  padding-left: 10px;

  .wrapper {
    display: flex;
    margin-left: 15px;

    .imageWrapper {
      height: 250px;
      width: 250px;
      margin-right: 15px;
      overflow: hidden;

      .image {
        height: 100%;
        width: 100%;
        transition: transform 0.4s ease-in-out;
        position: relative;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .category {
      position: absolute;
      display: inline-block;
      transform: rotate(-90deg) translateY(50%);
      text-transform: uppercase;
      transform-origin: left;
      bottom: 21px;
      left: 0;
    }

    .content {
      width: 200px;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      transition: transform 0.4s ease-in-out;

      .title {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 20px;
      }

      .excerpt {
        font-size: 14px;
        line-height: 1.3;
        margin-top: 20px;
      }
    }
  }

  .arrow {
    width: 120px;
    margin-left: 5px;
    margin-top: 10px;
  }

  &:hover {
    .image {
      transform: scale(1.1);
    }

    .content {
      transform: scale(1.05);
    }
  }
}

@media (max-width: 992px) {
  .post {
    padding-left: 0;

    .wrapper {
      flex-direction: column;
      margin-left: 0;

      .imageWrapper {
        margin-right: 0;
        width: 300px;
        height: 300px;
      }

      .category {
        position: static;
        transform: none;
        margin-top: 15px;
        margin-bottom: 8px;
      }

      .content {
        height: auto;
        width: 300px;

        .title {
          margin-bottom: 16px;
        }

        .excerpt {
          margin-top: 0;
        }
      }
    }
  }
}
