.hero {
  display: flex;

  .wrapper {
    flex: 0;

    .column {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.second {
        width: 100%;
      }

      .title {
        background-color: var(--pink-100);
        color: var(--green-100);
        display: inline-block;
        padding-top: 70px;
        padding-bottom: 70px;
        width: 700px;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 40px;
        align-self: flex-start;

        @media (max-width: 1200px) {
          width: 500px;
        }
      }

      .subtitle {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        padding-left: 100px;
        padding-right: 30px;
        line-height: 1.4;
        margin-top: 45px;

        @media (min-width: 1200px) {
          padding-left: 115px;
        }
      }

      .description {
        padding-left: 100px;
        padding-right: 30px;
        line-height: 1.4;

        @media (min-width: 1200px) {
          padding-left: 128px;
        }

        a {
          color: var(--red-100);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .image {
      width: 350px;
      height: 350px;
      margin-top: 50px;
      position: relative;
    }

    .label {
      padding: 30px 25px;
      background-color: var(--violet-100);
      color: var(--white-100);
      width: 400px;
      margin-left: 200px;
      margin-top: -50px;
      line-height: 1.4;

      @media (max-width: 1300px) {
        margin-left: 0;
      }

      @media (max-width: 992px) {
        margin-top: 0;
        width: 350px;
      }

      a {
        color: var(--pink-100);

        &:hover {
          text-decoration: underline;
        }
      }

      .link {
        color: var(--pink-100);
        text-transform: uppercase;
        text-decoration: underline;
        letter-spacing: 0.1em;
        font-family: var(--font-inconsolata), monospace;
        margin-top: 25px;
        display: inline-block;
      }
    }
  }
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;

    .wrapper {
      padding-top: 40px;

      .column {
        .title {
          display: none;
        }

        .subtitle {
          margin-top: 0;
          padding-left: 0;
          padding-right: 0;
          padding-top: 40px;
          width: 350px;
        }

        .description {
          padding-left: 0;
          padding-right: 0;
          width: 350px;
        }
      }
    }
  }
}
