.section {
  background-color: var(--pink-100);
  position: relative;
  padding-top: 55px;
  padding-bottom: 25px;
  width: 100%;

  .title {
    width: 150px;
    color: var(--violet-100);
    background-color: var(--white-100);
    font-weight: 500;
    font-size: 14px;
    height: 25px;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  .loading {
    width: 80px;
    padding: 3.5rem 0 5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    gap: 16px;

    .link {
      display: block;
      width: 200px;
      transition: transform 0.4s ease-in-out;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      overflow: hidden;

      .image {
        width: 100%;
      }

      @media (max-width: 992px) {
        width: 150px;
      }

      @media (max-width: 830px) {
        width: 100px;
      }

      @media (max-width: 680px) {
        width: 250px;
      }

      @media (max-width: 580px) {
        width: 200px;
      }

      @media (max-width: 450px) {
        width: 150px;
      }

      @media (max-width: 380px) {
        width: 100px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 1220px) {
  .section .images {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .section .images {
    width: 100%;
  }
}
