.explore {
  font-size: 14px;
  color: var(--blue-100);
  letter-spacing: 0.1em;

  .header {
    padding: 15px 25px;
    background-color: var(--pink-100);
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
  }

  .tags {
    .tag {
      display: block;
      padding: 15px 25px;
      cursor: pointer;
      border: 3px solid var(--red-100);
      border-bottom: none;
      font-weight: 500;
      line-height: 1.4;

      &:hover {
        background-color: var(--violet-100);
        border-color: var(--violet-100);
        color: var(--pink-100);
        font-weight: 700;
      }
    }

    li:last-child .tag {
      border-bottom: 3px solid var(--red-100);
    }
  }
}

@media (max-width: 992px) {
  .explore {
    display: none;
  }
}
