.post {
  position: relative;
  width: 100%;
  margin-top: -1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 15px;
    box-shadow: 0px 12px 30px -10px rgba(0, 0, 0, 0.1);
    width: auto;

    .imageWrapper {
      height: 250px;
      width: 250px;
      overflow: hidden;
      flex-shrink: 0;

      .image {
        height: 100%;
        width: 100%;
        transition: transform 0.4s ease-in-out;
        position: relative;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem 2rem 1rem 0;
      max-width: 100%;

      .title {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.3;
        padding: 0;
        margin-bottom: 20px;
        color: var(--black-100);

        span {
          background-image: linear-gradient(var(--black-100), var(--black-100));
          background-repeat: no-repeat;
          background-position: bottom left;
          background-size: 0% 3px;
          transition:
            background-size 400ms ease,
            background-color 400ms ease-in-out;
        }
      }

      .description {
        font-size: 14px;
        line-height: 1.3;
        margin-top: 20px;
        color: var(--black-100);
        p {
          padding-bottom: 0;
        }
      }
    }

    &:hover {
      .image {
        transform: scale(1.1);
      }

      .info .title span {
        background-size: 100% 3px;
      }
    }
  }
}

@media (max-width: 1220px) {
  .post {
    .wrapper {
      grid-template-columns: 1fr;
      gap: 0;

      .imageWrapper {
        width: 300px;
        height: 300px;
      }

      .info {
        max-width: 300px;
        padding-left: 1rem;

        .title {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .post {
    .wrapper {
      .imageWrapper {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
      }

      .info {
        max-width: 300px;

        .title {
          margin-bottom: 16px;
        }

        .description {
          margin-top: 0;
        }
      }
    }
  }
}
