.label {
  width: 100%;
  .input {
    font: inherit;
    padding: 8px 16px;
    border: none;
    font-size: 14px;
    width: auto;
    width: 100%;
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--violet-100);
    }
  }
}
