.content {
  margin-bottom: 50px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.3;
    font-weight: 300;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.3em;
  }

  p {
    padding-bottom: 30px;
    line-height: 1.7;
  }

  ul,
  ol {
    padding-left: 30px;
    margin-bottom: 20px;

    li {
      line-height: 1.7;
      list-style-type: disc;
      padding-bottom: 10px;
    }
  }

  hr {
    height: 2px;
    background-color: var(--violet-100);
    border: 0;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  a {
    cursor: pointer;
    color: var(--violet-100);

    &:not([href^="https://www.pozywka.pl/"]):hover
    {
      text-decoration: underline;
    }
  }

  blockquote {
    padding: 60px 100px;
    background-color: var(--pink-100);
    position: relative;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-family: Inconsolata, Consolas, monospace;
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;

    p {
      line-height: 1.5;
      padding-bottom: 10px;
    }

    &:before,
    &:after {
      content: "„";
      color: var(--white-100);
      font-size: 120px;
      position: absolute;
      top: 50%;
    }

    &:before {
      left: 15px;
      transform: translateY(-50%) rotate(180deg);
    }

    &:after {
      right: 15px;
      transform: translateY(-50%);
    }
  }

  figure {
    @media (max-width: 992px) {
      margin-left: -50px;
      margin-right: -50px;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  b,
  strong {
    font-weight: bolder;
  }
}
