.content {
  margin-bottom: 50px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.3;
    font-weight: 300;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.3em;
  }

  p {
    padding-bottom: 30px;
    line-height: 1.7;
  }

  ul,
  ol {
    padding-left: 30px;
    margin-bottom: 20px;

    li {
      line-height: 1.7;
      list-style-type: disc;
      padding-bottom: 10px;
    }
  }

  hr {
    height: 2px;
    background-color: var(--violet-100);
    border: 0;
    margin-top: 30px;
    margin-bottom: 45px;
  }

  a {
    cursor: pointer;

    &:not([href^="https://www.pozywka.pl/"], .internal)
    {
      color: var(--violet-100);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  blockquote {
    padding: 1.5rem;
    background-color: var(--pink-100);
    position: relative;
    line-height: 1.5;
    font-family: Inconsolata, Consolas, monospace;
    font-size: 18px;
    margin: 30px 0;

    p {
      line-height: 1.5;
      padding-bottom: 10px;
      position: relative;
      z-index: 1;
    }

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='100' height='76' viewBox='0 0 32 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9567 6.27961C16.9201 5.42772 17.0717 4.57824 17.4008 3.79163C17.7299 3.00502 18.2284 2.30064 18.8607 1.72861L18.8657 1.72461C20.1747 0.56401 21.8793 -0.0495648 23.6277 0.0106113H23.6167C24.6735 -0.0465328 25.7299 0.129736 26.7109 0.526898C27.6918 0.924059 28.5733 1.53237 29.2927 2.30861L29.2967 2.31261C30.7389 4.02402 31.4745 6.22082 31.3537 8.45561L31.3547 8.43461C31.4217 10.7554 30.9904 13.0636 30.0897 15.2036L30.1297 15.0966C29.4106 16.7742 28.4132 18.3183 27.1797 19.6636L27.1907 19.6516C26.1711 20.7577 24.9897 21.7028 23.6867 22.4546L23.6147 22.4926C22.6292 23.0611 21.6007 23.5516 20.5387 23.9596L20.3827 24.0126L17.2487 18.7226C18.551 18.1972 19.6942 17.3418 20.5657 16.2406L20.5787 16.2236C21.4465 15.1899 21.9908 13.9236 22.1437 12.5826L22.1467 12.5506C21.4647 12.5335 20.7941 12.3725 20.1787 12.0782C19.5633 11.7839 19.017 11.3628 18.5757 10.8426L18.5697 10.8356C17.4476 9.58621 16.8671 7.9426 16.9557 6.26561L16.9547 6.28061L16.9567 6.27961ZM0.00869868 6.27961C-0.0273692 5.4277 0.124616 4.57829 0.453857 3.79174C0.783098 3.00519 1.28152 2.3008 1.9137 1.72861L1.9187 1.72461C3.22739 0.563561 4.93226 -0.0500801 6.6807 0.0106113H6.6697C7.72651 -0.0468106 8.783 0.129331 9.76402 0.52651C10.745 0.923688 11.6265 1.53215 12.3457 2.30861L12.3497 2.31361C13.7925 4.02507 14.5282 6.22243 14.4067 8.45761L14.4077 8.43661C14.4747 10.7574 14.0434 13.0656 13.1427 15.2056L13.1827 15.0986C12.4639 16.7762 11.4669 18.3202 10.2337 19.6656L10.2447 19.6536C9.22476 20.7597 8.04299 21.7048 6.7397 22.4566L6.6677 22.4946C5.68243 23.0635 4.65392 23.554 3.5917 23.9616L3.4357 24.0146L0.302699 18.7246C1.60521 18.1985 2.74835 17.3425 3.6197 16.2406L3.6327 16.2236C4.5005 15.1899 5.04479 13.9236 5.1977 12.5826L5.2007 12.5506C4.51901 12.5336 3.84862 12.3727 3.23353 12.0783C2.61844 11.784 2.07255 11.3628 1.6317 10.8426L1.6257 10.8356C0.502377 9.58716 -0.0792389 7.94374 0.00869868 6.26661L0.00769868 6.28161L0.00869868 6.27961Z' fill='white'/%3E%3C/svg%3E%0A");
      position: absolute;
      bottom: 0;
      left: 1.5rem;
      opacity: 0.4;
      z-index: 0;
    }

    &::before {
      top: 0.5rem;
      right: 1.5rem;
      position: absolute;
      content: url("data:image/svg+xml,%3Csvg width='100' height='76' viewBox='0 0 32 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9567 6.27961C16.9201 5.42772 17.0717 4.57824 17.4008 3.79163C17.7299 3.00502 18.2284 2.30064 18.8607 1.72861L18.8657 1.72461C20.1747 0.56401 21.8793 -0.0495648 23.6277 0.0106113H23.6167C24.6735 -0.0465328 25.7299 0.129736 26.7109 0.526898C27.6918 0.924059 28.5733 1.53237 29.2927 2.30861L29.2967 2.31261C30.7389 4.02402 31.4745 6.22082 31.3537 8.45561L31.3547 8.43461C31.4217 10.7554 30.9904 13.0636 30.0897 15.2036L30.1297 15.0966C29.4106 16.7742 28.4132 18.3183 27.1797 19.6636L27.1907 19.6516C26.1711 20.7577 24.9897 21.7028 23.6867 22.4546L23.6147 22.4926C22.6292 23.0611 21.6007 23.5516 20.5387 23.9596L20.3827 24.0126L17.2487 18.7226C18.551 18.1972 19.6942 17.3418 20.5657 16.2406L20.5787 16.2236C21.4465 15.1899 21.9908 13.9236 22.1437 12.5826L22.1467 12.5506C21.4647 12.5335 20.7941 12.3725 20.1787 12.0782C19.5633 11.7839 19.017 11.3628 18.5757 10.8426L18.5697 10.8356C17.4476 9.58621 16.8671 7.9426 16.9557 6.26561L16.9547 6.28061L16.9567 6.27961ZM0.00869868 6.27961C-0.0273692 5.4277 0.124616 4.57829 0.453857 3.79174C0.783098 3.00519 1.28152 2.3008 1.9137 1.72861L1.9187 1.72461C3.22739 0.563561 4.93226 -0.0500801 6.6807 0.0106113H6.6697C7.72651 -0.0468106 8.783 0.129331 9.76402 0.52651C10.745 0.923688 11.6265 1.53215 12.3457 2.30861L12.3497 2.31361C13.7925 4.02507 14.5282 6.22243 14.4067 8.45761L14.4077 8.43661C14.4747 10.7574 14.0434 13.0656 13.1427 15.2056L13.1827 15.0986C12.4639 16.7762 11.4669 18.3202 10.2337 19.6656L10.2447 19.6536C9.22476 20.7597 8.04299 21.7048 6.7397 22.4566L6.6677 22.4946C5.68243 23.0635 4.65392 23.554 3.5917 23.9616L3.4357 24.0146L0.302699 18.7246C1.60521 18.1985 2.74835 17.3425 3.6197 16.2406L3.6327 16.2236C4.5005 15.1899 5.04479 13.9236 5.1977 12.5826L5.2007 12.5506C4.51901 12.5336 3.84862 12.3727 3.23353 12.0783C2.61844 11.784 2.07255 11.3628 1.6317 10.8426L1.6257 10.8356C0.502377 9.58716 -0.0792389 7.94374 0.00869868 6.26661L0.00769868 6.28161L0.00869868 6.27961Z' fill='white'/%3E%3C/svg%3E%0A");
      opacity: 0.4;
      z-index: 0;
    }
  }

  figure {
    @media (max-width: 992px) {
      margin-left: -50px;
      margin-right: -50px;
    }

    figcaption {
      margin: 0.5rem auto 0;
      text-align: center;
      font-size: 0.88rem;
      font-style: italic;
      max-width: 85%;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  b,
  strong {
    font-weight: bolder;
  }
}
